.featured {
  display: flex;
  height: 20rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  position: relative;
}
.featured .featured_img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url("/images/banners/image5.png") no-repeat center center;
}
.featured h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  position: absolute;
  text-shadow: 0 0 0.5rem rgb(0, 0, 0);
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container li {
  flex: 1 1 20rem;
  color: #fff;
  display: flex;
  flex-flow: wrap;
  flex: 1 0 19rem;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
}
