.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        flex: 1 1 20rem;
        background-color: rgb(30, 30, 30);
        border: 0.1rem solid rgb(50, 50, 50);
        border-radius: 0.8rem;
        box-shadow: 0 0 0.5rem rgb(0, 0, 0);
        box-sizing: border-box;
        color: #fff;
        display: flex;
        flex-flow: wrap;
        flex: 1 0 19rem;
        position: relative;
        text-align: center;
        transition: all 0.3s ease-in-out 0s;
    }
}